
@{
    ViewBag.Title = "Location Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-content-body container">
    <div class="title-bar" style="margin-bottom: 20px;">
        <div class="col-xs-10">  <h1 class="title-bar-title">Location Create</h1> </div>
        <a class="btn btn-success col-xs-2 " href="@Url.Action("Index", "A_Location")">List</a>

    </div>
    <div class="row no-gutters">
        <div class="col-xs-12  ">
            <div class="card" style="margin-top: 30px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="demo-form-wrapper">
                                @using (Html.BeginForm())
                                {
                                    <div class="form form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="form-control-1">Location Name</label>
                                            <div class="col-sm-4">
                                                <input id="LocationName" name="LocationName" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="form-control-1">Location Code</label>
                                            <div class="col-sm-4">
                                                <input id="LocationCode" name="LocationCode" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="form-control-1">Department</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownList("DepartmentId", null, "-- Select --", new { @class = "form-control select2 DepartmentId", required = "required" })
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Create</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


